@font-face {
  font-family: 'ferrari';
  src: url(/fontes/FerroRosso.ttf);
}

@font-face {
  font-family: 'noto-sans';
  src: url(../fontes/NotoSans-VariableFont_wdth\,wght.ttf);
}

@keyframes mover {
  0%   { transform: translateX(0); }
  50% { transform: translateX(50px); } 
  100% { transform: translateX(0px); }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), transparent), url("/videos/ferrari.mp4");
    height: 100vh; /* Mantém o vídeo visível até a altura da janela */
    overflow: hidden;
    position: relative;
    margin: 0px;
}

.potencia{
    position: absolute;
    top: 35%;
    left: 5%;
}

.potencia > h2{
    color: white;
    font: lighter 36px 'noto-sans';
}

#botaovideo{
    color: white;
    font: normal 20px 'noto-sans';
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    animation: mover 1s ease-in-out forwards;
}

#botaovideo:hover{
    background-color: #ffffff;
    color: black;
    transition: background-color .3s ease;
    transition: color .3s ease;
}




